@model IEnumerable<ChartApplication.Models.Vital>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<link rel="stylesheet" href="~/Content/style.css" />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="chart">
    <table id="chartLabels">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.DateTimeDone)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.UpperLeftSound)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.UpperRightSound)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.LowerLeftSound)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.LowerRightSound)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.MiddleSound)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.RR)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.HR)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.BP)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Saturation)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Cough)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.O2Device)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Flow)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Patient.PatientFirst)
            </td>
        </tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
    </table>
        @foreach (var item in Model)
        {
            <table class="chartInstance">
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTimeDone)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpperLeftSound)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpperRightSound)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LowerLeftSound)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LowerRightSound)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MiddleSound)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RR)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HR)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BP)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Saturation)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cough)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.O2Device)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Flow)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Patient.PatientFirst)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.VitalId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.VitalId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.VitalId })
                    </td>
                </tr>
        </table>
        }
</div>